#header {
  margin-top: 10px;
  text-align: center;
  font-size: 60px;
  border-bottom: 2px solid black;
}

#main-img {
  display: block;
  margin: 20px auto;
}

.content {
  text-align: justify;
  font-size: 16px;
}

.container {
  border: 2px solid black;
  background-color: bisque;
  padding: 10px;
}

.container h3 {
  font-size: 40px;
  margin: 0;
  text-decoration: underline;
}

.container ol {
  margin-top: 20px;
  font-style: italic;
}
